# Object file
*.o

# Ada Library Information
*.ali

# .Vscode Library Information
*.vscode

# Файл readme.txt
readme.txt

# Catalog with draft source for site
/#source

# mail (not used on github-pages)
/mail/**/*
# map files
styles.min.css.map

# SCSS files
/sass/**/*

